        <% resume['jobs'].each do |job| %>
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0"><%= job['title'] %></h3>
            <div class="subheading mb-3"><%= company_for(job, in_companies: resume['companies'])['name'] %></div>
            <% job['projects'].each_with_index do |project, idx| %>
              <h5 class="mb-1"><%= project['name'] %></h5>
              <p><%= project['description'] %>.</p>
              <p><strong>Accomplishments:</strong></p>
              <ul>
              <% project['accomplishments'].each do |accomplishment| %>
                <li><%= accomplishment['description'] %>.</li>
              <% end %>
              </ul>
              <p><strong>Skills:</strong><p>
              <p class="<%= idx == job['projects'].count - 1 ? '' : 'mb-5' %>"><%= project['tags'].map { |tag| tag['name'] }.join(', ') %></p>
            <% end %>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary"><%= format_date job['start_date'] %> - Present</span>
          </div>
        </div>
        <% end %>

        <% if !include_more.nil? && include_more == true %>
        <div id="more-container">
          <a href="#">more</a>
        </div>
        <% end %>